main {
    padding: 1%;
}

.cursor-circle {
            position: fixed;
            top: 0;
            left: 0;
            width: 15px;
            height: 15px;
            background: radial-gradient(circle, rgba(59,130,246,1) 0%, rgba(30, 58,138,1)100%);
            border: 2px solid #1e3a8a;
            border-radius: 50%;
            pointer-events: none;
            transform: translate(-50%, -50%);
            transition: transform 0.1s ease;
            z-index: 9999;
            opacity: 0; /* hidden by default */
}

.text {
    text-align: center;
    width: 50%;
    margin: 2% auto;
    padding: 1% 0;
}

#orderform {
    width: 40%;
    margin: 2% auto;
    padding: 1%;
}

span {
    display: block;
    padding: 1% 0 1% 10%;
}

#btn,#email {
    display: block;
    width: auto;
    margin: 2% auto;
}

table {
    width: 50%;
    border-collapse: collapse;
    margin-top: 20px;
    margin: 1% auto;
}

table,th,td {
    border: 1px solid #ccc;
}

th,td {
    padding: 1% 10px;
    text-align: center;
}

th {
    background-color:  #1e3a8a;
}

iframe {
    width: 100%;
    height: 470px;
    border: none;
}

form {
    width: 50%;
    padding: 5%;
}

form span {
    margin-left: 20%;
}

form input {
    display: block;
    margin: 1% 20%;
}

form button {
    margin: 1% 20%;
    width: 26%;
}
