.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.theme-switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 30px;
  margin-top: 1.5%;
  margin-left: 4%;
  animation: pulse 2s infinite;
}

.theme-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* Slider background */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0;
  background-color: inherit;
  border-radius: 30px;
  transition: 0.4s;
}

/* Circle toggle */
.slider::before {
  position: absolute;
  content: "";
  height: 26px; width: 26px;
  left: 2px; bottom: 2px;
  background-color: white;
  border-radius: 50%;
  transition: 0.4s;
}

/* Sun & Moon icons */
.icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 14px;
  pointer-events: none;
}

.icon.sun {
  left: 8px;
  color: #f1c40f;
}

.icon.moon {
  right: 8px;
  color: #34495e;
}

/* Move toggle when checked */
.theme-switch input:checked + .slider::before {
  transform: translateX(30px);
}

/* Optional: Change background color when checked */
.theme-switch input:checked + .slider {
  background-color: inherit;
}


:root {
  --color-primary : #1e3a8a;
  --color-accest : #3b82f6;
  --color-bg : #eceff4;
  --color-text : #111111;
  --color-white : #ffffff;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--color-bg);
  color: var(--color-text);
  font-family: Arial sans-serif;
  overflow-x: hidden;
}

.container_button button {
  cursor: pointer;
  border: none;
  font-weight:500;
}


header {
  background-image: url('./Checkout.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 20vh;
  position: sticky;
  width: 100%;
  top: 12%;
  z-index: 10;
  padding: 1% 3% 1% 3%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
  transition: height 2s ease-in;
} 

header:hover {
  height: 80vh;
}

header h1,h2,strong {
  text-align: center;
  color: white;
}

header h1 {
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
  color:white;
  width: 24%;
  margin-left: 33%;
  padding: 0.5%;
  position: absolute;
    /* background-color: red; */
  bottom: 30%;
}

header p {
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
  color:white;
  position: absolute;
  top: 50%;
  padding: 0.5%;
  margin-left: 33%;
}

h1,h2 {
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}

header button {
  display: block;
  margin-left: 40%;
  width: 15%;
  cursor: pointer;
  padding: 1%;
  margin-top: 6%;
  border: none;
}

header button a {
  color: white;
  text-decoration: none;
}

header #hover-message {
  display: none;
}

header:hover .default-text{
  display: none;
}

header:hover #hover-message{
  display: block;
}

header:hover h1 {
  position: relative;
  top: 38%;
  left: 2%;
}

header:hover p {
  margin-left: 28%;
}

/* .color-bule {
    color:  blue;
}

.color-darkbule {
    color: darkblue;
}

.color-gray {
    color: #eceff4;
} */

#home {
  width: 94%;
}

main {
  padding: 0 3%;
  margin-bottom: 5%;
}

#main {
  padding: 5% 0;
}

.logo span { 
  display: inline-block;
  position: fixed;
  top: 1.5%;
  left: 14%;
  padding: 1%;
  padding-top:1%;
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
  color: white;
  font-size: large;
}

.logo img {
  width: 7%;
  margin-left: 5%;
  cursor: pointer;
  margin-top: 0.3%;
  vertical-align:middle;
  background-color: inherit;
  position: absolute;
  left: 1%;
  z-index: 1000;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,1),0 17px 50px 0 rgba(0,0,0,1); 
}

.navbar {
  position: sticky;
  top: 0;
  z-index: 999;
  background-color: white;
}

.top_navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-bottom: 4.2%;
  background-color: var(--color-primary);
  width: 100%;
  display: flex;
  font-size: large;
  height: auto;  
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);   
}

nav .top_navbar li:first-child {
  margin: 1.5% 0 0 27.5%;
}

.top_navbar li {
  display: inline-block;
  text-align: center;
  height: 0.1%;
  width: 10%;
  margin: 1.5% 0 0.1% 2%;
}

nav .top_navbar li:last-child {
  width: 12%;
}

.top_navbar li a {
  display: inline-block;
  text-decoration: none;
  color: white;
  font-size: larger;
  width: 98%;
  text-align: center;
  margin: 2%;
    /* background-color: indianred; */
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}

#order_history a {
  width: auto;
  overflow: hidden;
  padding: 10%;
  position: relative;
  color: white;
}

.history a {
  display: block;
  width: 70%;
}

.nav-link[href="index.html"] {
  color: #333;
}

.nav-link[href="order_history.html"] {
  color: #333;
}

.nav-link[href="checkout.html"] {
  color: #333;
}

.nav-link[href="contact.html"] {
  color: #333;
}

nav .dropdown {
  position: relative;
  cursor: pointer;
  margin-top: 1.6%;
  margin-left: 2%;
  width: 7%;
  height: 0%;
  z-index: 999;
  padding: 1.1%;
}

nav .dropdown span {
  display: block;
  text-align: center;
}

nav .dropdown a {
  display: block;
  text-decoration: none;
  text-align: center;
  color: white;
  padding: 2%;
  width: 100%;
  position: absolute;
  bottom: 0.1%;
  top: 0.2%;
  right: 0.1%;
}

nav .dropdown_content {
  display: none;
  position: absolute;
  left: 0%;
  width: 125%;
  background-color: var(--color-white);
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,1);
  margin: 1% auto;
  margin-top: 20%;
  z-index: 1;
}

nav .dropdown_content li {
  width: 65%;
  display: block;
  margin: 5% auto;
  padding: 12%;
  padding-bottom: 20%;
  position: relative;
  border-bottom: 4px solid var(--color-primary);
}

/* .dropdown_content li:last-child {
    margin-top: 1%;
} */

nav .dropdown_content li a {
  width: 82%;
  position: absolute;
  bottom: 80%;
  display: block;
  top: 5%;
  right: 1%;
  height: 50%;
  padding-bottom: 8%;
}

nav .dropdown_content li:first-child {
  margin: 0;
  margin-left: 8%;
}

nav .dropdown_content li:last-child {
  color: white;
  width: 65%;
  margin: 0;
  margin-left: 5%;
  margin-bottom: 3%;
}

nav .dropdown:hover .dropdown_content {
  display: flex;
  flex-direction: column;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,1),0 17px 50px 0 rgba(0,0,0,1); 
}

main {
  display: flex; 
  width:100%; 
  padding-bottom: 8%;
}

.cursor-circle {
  position: fixed;
  top: 0;
  left: 0;
  width: 15px;
  height: 15px;
  background: radial-gradient(circle, rgba(59,130,246,1) 0%, rgba(30, 58,138,1)100%);
  border: 2px solid #1e3a8a;
  border-radius: 50%;
  pointer-events: none;
  transform: translate(-50%, -50%);
  transition: transform 0.1s ease;
  z-index: 9999;
  opacity: 0; /* hidden by default */
}

.side-bubble {
  position: fixed;
  bottom: -50px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: radial-gradient(circle, #eceff4, #1e3a8a);
  opacity: 0.3;
  animation: float 10s infinite linear;
  z-index: 0;
}

.side-bubble.down {
  animation: float-down 10s infinite linear;
  top: -50px;
  bottom: auto;
}

.side-bubble.up {
  animation: float-up 10s infinite linear;
  bottom: -50px;
  top: auto;
}

.side-bubble.left {
  left: 20px;
}

.side-bubble.right {
  right: 20px;
}

.side-bubble:nth-child(1) {
  animation-delay: 0s;
}

.side-bubble:nth-child(2) {
  animation-delay: 2s;
}

.side-bubble:nth-child(3) {
  animation-delay: 4s;
}

.side-bubble:nth-child(4) {
  animation-delay: 6s;
}

@keyframes float-up {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-120vh);
  }
}

@keyframes float-down {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(120vh);
  }
}

.cart_checkout .main {
    width: 90%;
    display: flex;
    margin-top: 2%;
    margin-left: 5%;
}

.parent {
  width: 100%;
  margin: 2% auto;
  padding: 2% 10%;
  margin-left: 2%;
}

.parent:first-child {
  padding-top: 5.5%;
}

#parent {
  width: 130%;
}

.parent h1 {
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
  color: white;
  text-align: center;
  padding: 1%;
}

.cart_button button {
  margin: 2%;
  padding: 2%;
  background-color: var(--color-primary);
  cursor: pointer;
  color: white;
  border: none;
}

.cart_button button:last-child {
  animation: pulse 2s infinite;
  color: white;
}

.cart_button button a {
  text-decoration: none;
  color: white;
}

form {
  display: block;
  padding: 30px;
  margin: 0 auto;
  width: 100%;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
  border-radius: 8px;
  background-color: var(--color-primary);
  animation: subtlePulse 5s ease-in-out infinite
}

@keyframes subtlePulse {
  0%, 100% {
      box-shadow: 0 12px 16px 0 var(--color-primary);
    }

  50% {
    box-shadow: 0 14px 20px 0 rgba(0,0,0,0.18),0 20px 70px 0 rgba(0,0,0,0.15);
  }
}

#topform {
  width: 100%;
  margin: 4% auto;
  margin-left: 3%;
  padding: 4%;
  text-align: center;
}

form strong,#topform strong,form p {
  color: black;
}

form h2 {
  text-align: center;
  padding: 2% 0;
}

form h2,h3 {
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
  color:white
}

.customer_status_label {
  padding: 1.5%;
  width: 50%;
  margin: 1% auto;
  display: block;
}

form .row {
  display: flex;
}

.row input {
  margin: 1% 1%;
  margin-top: 3%;
  margin-bottom: 3%;
  padding: 2%;
  border-top: none;
  border-right: none;
  border-left: none;
}

form .label input,form button {
  width: 98%;
  padding: 10px;
  margin: 2%;
  outline: none;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

 /* .checkout-field {
  background-color: red;
} */

.checkout-field input,select {
  margin: 0.5% auto;
  margin-top: 5%;
  margin-left: 1%;
  margin-right: 1%;
  padding: 1%;
  text-align: center;
} 

.checkout-form .check {
  text-align: center;
  padding: 2%;
}

.checkout-form .first {
  display: block;
  position: absolute;
  margin-top: 1;
  left: 60%;
  padding: 0.5%;
}

.checkout-form .second {
  position: absolute;
  padding: 0.5%;
  margin-left: 1.5%;
}

.checkout-form .second_input {
  position: relative;
  bottom: 5%;
  left: 15%;
  top: 50%;
}

.checkout-form .first_input {
  display: block;
  position: absolute;
  margin-top: 1.5%;
  left: 55%;
  padding: 0.5%;
}

.checkout-form .email {
  top: 80%;
}

form input {
  margin-bottom: 5%;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

form textarea {
  resize: vertical;
  width: 100%;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

form select {
  margin-left: 2%;
  margin-bottom: 2%;
  padding: 1%;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

form button {
  cursor: pointer;
  background-color: #1e3a8a;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
  color: white;
  animation: pulse 2s infinite;
}

.label {
  display: inline;
  margin: 2%;
  width: 15%;
  padding: 2%;
  text-align: center;
}

form span {
  color: red;
}

.second {
  display: inline-block;
  margin-left: 20%;
}

.message,.subject {
  width: 90%;
}

.Social_media_handles {
  height: auto;
  margin-top: 3%;
  margin-right: 10%;
  padding: 2% 3%;
  height: 20%;
}

.Social_media_handles a {
  display: inline-block;
  margin: 0 10%;
}

.custmoer_status {
  background-color: red;
  display: inline;
}

@keyframes pulse {

  0% {
    transform: scale(1);
    box-shadow: 0 6px 20px rgb(255,102,0,0.4);
  }

  70% {
    transform: scale(1.03);
    box-shadow: 0 0 0 10px rgb(255,102,0,0);
  }

  100% {
    transform: scale(1);
    box-shadow: 0 6px 20px rgb(255,102,0,0);
  }
}

footer {
  background-color: var(--color-primary);
  color: black;
  position: relative;
  z-index: 1;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 0;
  padding-bottom: 0.3%;
  height: auto;
}

footer a {
  color: black;
}

.footer_container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

footer .logo span {
  position: absolute;
  z-index: -1;
  margin-left: 2%;
  margin-top: 5%;
}

footer .logo img {
  position: absolute;
  top: 15%;
  box-shadow: none;
}

footer  a[href="#scroll-up"] {
  width: 7%;
  height: 7%;
  padding: 0.5%;
  text-align: center;
  text-decoration: none;
  border: 2px solid white;
  color: white;
  float: right;
  position: absolute;
  bottom: 1.5%;
  left: 5%;
  border-radius: 50%;
  animation: pulse 2s infinite;
}

footer  a[href="#scroll_up"] {
  width: 7%;
  height: 7%;
  padding: 0.5%;
  text-align: center;
  text-decoration: none;
  border: 2px solid white;
  color: white;
  float: right;
  margin-right: 4%;
  position: absolute;
  bottom: 2%;
  left: 90%;
  border-radius: 50%;
  animation: pulse 2s infinite;
}

.copyright-inform,.footer_section {
  width: 100%;
  max-width: 400px;
  margin: 1% auto;
  text-align: center;
}

#footer_section_contact {
  position: absolute;
  left: 65%;
  width: 15%;
}

.footer_section ul {
  width: 100%;
  margin-left: 93%;
  text-align: center;
  box-shadow: none;
  display: flex;
  flex-wrap: wrap;
}

.footer_section ul li {
  width: 42%;
  margin-left: 6%;
}

.footer_section .strong,.footer_section .contact {
  position: static;
  margin: 10px auto;
  display: block;
  width: 20%;
  color: white;
}

.footer_section:first-child .strong {
  display: block;
  margin-left: 143%;
  width: 30%;
}

#footer_section_contact {
  width: 18%;
}

.footer_section .footer_section_contact {
  width: 90%;
  margin-left: 5%;
  margin-bottom: 10%;
  text-align: center;
  padding: 1.5%;
}

.footer_section .contact {
  margin-left: 28%;
  margin-bottom: 13%;
  width: 50%;
}

.footer_section .footer_section_contact a {
  display: block;
  margin: 1% auto;
  text-decoration: none; 
  width: 85%;
  color: white;
  padding: 2%;
}

.footer_section .app {
  width: 100%;
  margin: 2% auto;
  text-align: center;
}

#app img {
  width: 30px;
  position: static;
  margin: 10px auto;
  display: block;
}

.footer_container .social {
  position: static;
  margin: 1.3% auto;
  margin-left: 50%;
  width: 100%;
  color: white;
  text-align: center;
  width: 15%;
}

.footer_container .social a {
  display: inline-block;
  width: auto;
  margin: 0 5px;
  padding: 5px;
  color: white;
}

@media (max-width: 768px) {
  .copyright-inform,.footer_section {
    width: 100%;
    text-align: center;
  }

  .footer_section ul li {
    width: 90%;
    margin: 5px auto;
  }

  .footer_container .social {
    position: static;
    margin: 10px auto;
    width: 100%;
  }

  .footer_container .social a {
    display: inline-block;
    margin: 0 5px;
  }
}

.bubbles {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  overflow: hidden;
  z-index: 1;
}

.bubble {
  position: absolute;
  bottom: -100px;
  width: 40px;
  height: 40px;
  /* background: radial-gradient(circle, rgba(255,255,255,0.2) 0% rgba(255,255,255,0.2) 70%); */
  background: rgba(236,239,244,0.2);
  border-radius: 50%;
  animation: rise 30s infinite ease-in;
  /* filter:blur(2px); */
}

.bubble:nth-child(1) {
  /* background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 0 0 15 rgba(255,255,255,0.3); */
  left:  15%;
  animation-delay: 0s;
}

.bubble:nth-child(2) {
  /* background-color: rgba(236,239,244,0.2);
  box-shadow: 0 0 15px rgba(236,239,244,0.3); */
  left:  35%;
  animation-delay: 5s;
}

.bubble:nth-child(3) {
  /* background-color: rgba(173,216, 230, 0.2);
  box-shadow: 0 0 0 15px rgba(236,239,244,0.3); */
  left:  55%;
  animation-delay: 10s;
}

.bubble:nth-child(4) {
  /* background-color: rgba(255,255,255,0.15);
  box-shadow: 0 0 15px rgba(173, 216, 230,0.3); */
  left:  75%;
  animation-delay: 15s;
}

@keyframes rise {
  0% {
    transform:  translateY(0) scale(1);
    opacity: 0.1;
  }

  50% {
    opacity: 0.15;
  }

  100% {
    transform: translateY(-120vh) scale(1.2);
    opacity: 0;
  }
}