/* mobile viwe start*/
@media only screen and (max-width: 576px) {
  body {
    overflow-x: hidden;
    position: relative;
  }

  /* NAVIGATION */
  .nav_bar,.logo img, .nav .logo span {
    display: none;
  }

  .container_button {
    overflow-x: hidden;
    background-color: #1e3a8a;
    position: sticky;
    top: 0;
    width: 100%;
    padding: 1rem;
    padding-top: 6%;
    text-align: center;
  }

  .container_button button {
    position: static;
    width: 15%;
    margin: 1rem auto;
    margin-right: 35%;
    background-color: #1e3a8a;
    color: white;
    animation: pulse 2s infinite;
    padding-top: 3%;
    padding-bottom: 2%;
    border: none;
  }

  .container_button img {
    display: block;
    width: 15%;
    margin: 1% auto;
    position: relative;
    left: 15%;
    margin-right: 75%;
  }

   .container_button span {
     margin-left: 33%;
     margin-top: 23%;
     padding: 1%;
   }

   .theme-switch {
      position: fixed;
      bottom: 91%;
      left: 48%;
   }

@keyframes pulse {
  0% {
    transform: scale(1);
    box-shadow: 0 6px 20px rgb(255,102,0,0.4);
  }
  
  70% {
    transform: scale(1.03);
    box-shadow: 0 0 0 10px rgb(255,102,0,0);
  }
  
  100% {
    transform: scale(1);
    box-shadow: 0 6px 20px rgb(255,102,0,0);
  }
  
}

  nav .logo span {
    display:none;
  }
  
  .nav {
    overflow-x: hidden;
    background-color: #1e3a8a;
    margin: 0;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    width: 100%;
  }

  .navlinks.show {
    display: flex;
  }

  nav .top_navbar {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    padding-top: 15%;
    display: none;
    
  }

  nav .top_navbar li,nav .dropdown {
    width: 50%;
    margin: 0.2rem 0;
    margin-right: 2.5rem;
    z-index: 99;
  }

  nav .top_navbar li:first-child a {
    margin: 2% auto;
    color: white;
  }

  nav .top_navbar li a {
    display: block;
    width: 80%;
    padding: 0.5rem;
    padding-right: 15%;
    text-align: center;
  }

  .nav .top_navbar .home-link {
    position: absolute;
    margin-top: 34%;
    top: 8%;
    right: 25%;
  }

  .nav .top_navbar li a[href="./index.html"] {
    position: relative;
    left: 0;
  }

  nav .top_navbar li:last-child {
    width: 50%;
  }

  nav .dropdown {
    position: relative;
    text-align: center;
    width: 40%;
    padding: 5%;
    margin-top: 0.5%;
    margin-left: 20%;
  }

   nav .top_navbar li {
    margin-left: 20%;
  }

  nav .top_navbar li:first-child {
    margin-left: 20%;
  }

  nav .dropdown_content {
    display: none;
    position: absolute;
    top: 2%;
    left: 5%;
    width: 90%;
    padding-top: 10%;
    padding-bottom: 10%;
    overflow-x: hidden;
    overflow-y: scroll;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  }

   nav .dropdown a[href="E-Commerce/HTML/about_us.html"],nav .dropdown a[href="./about_us.html"] {
    width: 45%;
    margin-left: 28%;
    margin-top: 10%;
    padding-top: 0;
    position: relative;
   }

  nav .dropdown:hover .dropdown_content {
    display: block;
  }

  nav .dropdown_content li {
    width: 100%;
    padding: 10% 0;
    margin-left: 10%;
    border-bottom: 1px solid var(--color-primary);
  }

  nav .dropdown_content li a {
    display: block;
    width: 90%;
    margin: 2% auto;
    text-align: center;
  }

  nav .dropdown_content li:last-child {
    width: 100%;
    margin-left: 10%;
  }

  /* HEADER */
  header {
    overflow-x: hidden;
    position: fixed;
    top: 30%;
    width: 100%;
    height: auto;
    padding: 4rem 1rem;
    padding-left: 2.5%;
    text-align: center;
    transition: height 2s ease-in;
  }

  header:hover {
    height: 80vh;
   }

  header h1 {
    font-size: 1.5rem;
    width: 100%;
    margin: 0.5rem 1.5rem;
    margin-left: 0.2%;
    margin-right: 75%;
  }

  header p {
    width: 90%;
    margin: 0.5rem auto;
    margin-left: 0.1%;
    margin-right: 10%
  }

  header:hover #hover-message {
    display: block;
    margin-top: 3%;
    margin-left: 1.5%;
    background-color:red;
  }

  header:hover .default-text {
    display: none;
  }

  header:hover h1 {
    position: sticky;
    top: 40%;
    left: 10%;
    width: 80%;
  }

  header:hover p {
    margin-right: 10%;
  }

  main {
    margin-top: 65%;
  }

  /* HERO */
  .hero {
    text-align: center;
    padding: 2rem 1rem;
  }

  .hero a {
    display: inline-block;
    width: 40%;
    margin: 1rem 0;
  }

  /* RESTAURANTS */
  .restaurants h2 {
    text-align: center;
    width: 90%;
    margin: 1rem auto;
  }

  .restaurants .restaurants_cards {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .restaurants .card,.restaurants .card .container {
    width: 50%;
    margin: 0 auto;
  }

  .restaurants .card:last-child {
    margin-left: 25%;
    width: 20vw;
    padding: 1.5% 0 0 0;
    padding-right: 31%;
  }

  .restaurants .card:last-child img {
    background-color: indianred;
    width: 45vw;
  }

  .restaurants .container {
    width: 120%;
    padding: 25%;
  }

  .restaurants .card:last-child .container {
    width: 38vw;
  }

  .restaurants .container a,.restaurants .container p {
    display: block;
    width: 40vw;
    position: relative;
    right: 33%;
    bottom: 5%;
  }

  .restaurants .card img {
    width: 100%;
  }

  .restaurants .card:last-child img {
    width: 47vw;
  }

  .restaurants .card:last-child a, .restaurants .card:last-child p {
    margin-left: 35%;
  }

  .btn {
    width: 50%;
    margin: 1rem 7rem;
  }

  .btn button {
    display: block;
    width: 100%;
    margin: 0.5rem 0;
  }

  /* TESTIMONIALS */
  #testimonials h2 {
    width: 100%;
    margin: 1rem 0;
    text-align: center;
  }

  .testimonial {
    width: 90%;
    margin: 1rem auto;
    text-align: center;
  }

  .testimonial img {
    width: 50%;
  }

  .testimonial p {
    padding: 0 1rem;
  }

  .testimonial_control button {
    position: static;
    margin: 1rem;
  }

  .testimonial_control #prevButton {
    position: relative;
    right: 30%;
  }

  .testimonial_control #nextButton {
      position: relative;
      left: 20%;
  }

  /* IMAGE */
  .image img {
    width: 100%;
    display: block;
  }

  .image img:hover {
    transform: none;
  }

    article {
      display: block;
    }

  /* FORM */
  form {
    width: 60vw;
    margin: 2rem auto;
  }

  form input,form button {
    width: 100%;
    display: block;
    margin: 0.5rem 0;
  }

  .about_us .nav-link[href="about_us.html"] {
    height: 5%;
    width: 45%;
    padding: 1%;
    margin-top: 75%;
  }

  .searchClass {
    margin-left: 0;
    width: 30%;
  }

  .search {
    display: none;
  }

  .contact-div {
    padding: 10%;
  }

  .Social_media_handles {
    display:none;
  }

  .cart_checkout .main {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 28%;
    padding-right: 4%;
    margin-left: 5%;
  }

  #topform {
    width: 87%;
    margin: 4% auto;
    margin-left: 3%;
    padding: 4%;
    text-align: center;
  }

  .socialplatform {
    box-shadow: none;
  }

  .restaurants {
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 30%;
  }

  /* FOOTER */
  .footer_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 1rem;
    padding-right: 5rem;
  }

  .copyright-inform,.footer_section {
    width: 100%;
    text-align: center;
    padding-left: 9%;
    margin: 1rem 0;
    margin-top: 5%;
  }

  .footer_section .quick-links {
    position: relative;
    right: 55%;
    padding: 1%;
  }

  .footer_section ul {
    padding: 0;
    margin: 0 auto;
    width: 55%;
    margin-left: 70%;
  }

  .footer_section ul li {
    width: 80%;
    text-align: center;
  }

  .footer_section ul li a {
    margin-left: 0;
  }

  .footer_section .quick-links {
    display: block;
    position: absolute;
    right: 6%;
    bottom: 93%;
  }

  .footer_section ul .link-size,footer .logo span {
    font-size: medium;
  }

  footer .social {
    width: 100%;
    padding: 2%;
  }

  footer .social strong {
    padding: 1%;
    margin-bottom: 2%;
  }

  footer .social a {
    display: inline-block;
    margin-top: 5%;
  }

  footer .logo {
    position: absolute;
    bottom: 75%;
    padding-bottom: 4.5%;
    width: 55%;
    height: 10%;
    margin-left: 0.5%;
  }

   footer .logo img {
    display: block;
    margin-top: 3%;
   }

  footer .logo span {
    display: block;
    margin-top: 5%;
    margin-left: 15%;
    width: 60%;
    text-align: center;
  }

  #footer_section {
    width: 25%;
    padding-bottom: 10%;
    position: absolute;
    bottom: 40%;
    right: 60%;
  }

  #footer_section strong {
    padding: 2%;
  }

  #footer_section .contact,.footer_section_contact {
    position: relative;
    display: block;
    right: 25%;
    width: 80%;
    bottom: 80%;
  }

  #footer_section_contact .contact {
    position: relative;
    right: 20%;
  }

  #footer_section_contact {
    width: 50%;
    position: absolute;
    right: 88%;
    left: 1.5%;
    padding-bottom: 5%;
    margin-right: 50%;
    border-right: none;
  }

  .footer_section_contact a {
    width: 210%;
    margin: 5%;
    color: white;
  }

  #footer_section #contact {
    position: relative;
    right: 95%;
    width: 125%;
    margin-right: 10%;
  }

  #footer_section .footer_section_contact {
    position: relative;
    right: 75%;
    width: 100%;
  }

  footer  a[href="#scroll-up"] {
  position: fixed;
  z-index:1;
  width: 10%;
  height: 5%;
  padding: 1.5% 1.5%;
  padding-right: 2%;
  bottom: 3%;
  left: 4%;
  background-color: #1e3a8a;
  opacity: 0.4;
}

footer  a[href="#scroll_up"] {
  position: fixed;
  width: 10%;
  height: 5%;
  padding: 1.5% 1.5%;
  padding-right: 2%;
  bottom: 3%;
  left: 80%;
  background-color: #1e3a8a;
  opacity: 0.4;
}

.meals_containter  {
  display: flex;
  margin: 5%;
  flex-direction: column;
  position: relative;
  padding-top: 10%;
}

.meals_containter h3 {
    display: block;
    position: absolute;
    height: 2%;
    top: 0;
  }
}

/* mobile viwe end*/

@media only screen and (min-width:998px) {

    .container_button {
        display: none;
        overflow: hidden;
    }

    .container_button img {
        display: none;
    }

    .footer_container .copyright-inform  .social {
        display: none;
    }
}
